In [1]:
import pandas as pd
import os

In [2]:
path = os.chdir('C:/Users/jewel.espiritu/OneDrive - AMDATEX LAS PINAS SERVICES INC/Python/py')
df = pd.read_excel("./data/TAT2.xlsx")

In [6]:
pd.set_option('display.max_rows', df.shape[0]+1)
print(df)

   Week Number  WithIn TAT  WithIn TAT %  Beyond TAT  Beyond TAT %  \
0  Week 48 TTR         945      0.738281         335      0.261719
1  Week 47 TTR        1196      0.758883         380      0.241117
2  Week 46 TTR        1204      0.729697         446      0.270303
3  Week 45 TTR        1179      0.726433         444      0.273567
4  Week 44 TTR        1106      0.696035         483      0.303965
5  Week 43 TTR        1198      0.691686         534      0.308314
6  Week 42 TTR        1356      0.718220         532      0.281780
7  Week 41 TTR        1608      0.745826         548      0.254174
8  Week 40 TTR        1690      0.725945         638      0.274055

   Total Tickets
0           1280
1           1576
2           1650
3           1623
4           1589
5           1732
6           1888
7           2156
8           2328

In [3]:
df.corr(method ='pearson')

,WithIn TAT,WithIn TAT %,Beyond TAT,Beyond TAT %,Total Tickets
WithIn TAT,1.000000,0.162014,0.846477,-0.162014,0.988076
WithIn TAT %,0.162014,1.000000,-0.385916,-1.000000,0.008826
Beyond TAT,0.846477,-0.385916,1.000000,0.385916,0.918359
Beyond TAT %,-0.162014,-1.000000,0.385916,1.000000,-0.008826
Total Tickets,0.988076,0.008826,0.918359,-0.008826,1.000000